.cta-right-bot {
   position: fixed;
   top: 200px;
   right: 0px;
   color: #fff;
   width: 200px;
   text-align: center;
   z-index: 999;
   font-size: 22px;
   text-decoration: none;
}
.cta-right-bot span { padding: 10px 15px 15px 55px; display: block; line-height: 1; }
.cta-right-bot svg {position:absolute; width: 100%; height: 100%; top: 0;left:0;  z-index: -1;  }

.flex-element {
   display:flex;
   justify-content: center;
}

.logos {
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: auto;
    vertical-align: middle;
    -webkit-filter: grayscale(1);
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: grayscale(100%);
    opacity: 0.7;
}

.img-center {margin:0 auto;}
/*  Styles for navbar   */
.nav {
    font-size: medium;
}
.navbar {
    background-color: #e5e5e5;
    border: 0;
/*    overflow-x: hidden;*/
}
.image_grid{
    display: inline-block;
}
.validate_error {
    border: 1px solid #F96E5B !important;
}
.load-more{
    margin-left: 45%;
    margin-bottom: 10px;
}
.contact_loader{
    width: 28px;
    position: absolute;
    margin-left: 85px;
    margin-top: 8px;
}
.quote_loader{
    width: 28px;
    position: absolute;
    margin-left: 69px;
    margin-top: 1px;
}
.quote-msg{
        margin-left: 24%;
    margin-top: -43px;
}
.contact-msg{
    margin-top: -43px;
}
.success {
    color:#78b83e;
}
.error {
    color:#c40000;
}
.button_spinners{
    display: none;
}
.nav .navbar, .navbar-right li a {
    color: #c40000;
    text-align: left;
}
.navbar-collapse.in, .navbar-collapse.collapsing  {
    overflow-y: visible;
}
.nav >li {
    padding-right:15px;
/*    padding: 10px;
*/    color: #c40000;
}
.my-logo {
    padding: 10px;
}
.my-logo img {
    height: 170%;
}
.dropdown-menu {
    background-color: #c40000;
}
.dropdown-menu li>a {
    color: #c40000;
}
.dropdown-menu>li {
    list-style: none;
    background-color: #d6b337;
    padding: 7px 5px;
}
.navbar-right li>a:hover, .dropdown-menu li>a:hover, .navbar-right li>a:active, .dropdown-menu li>a:active,
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover,.dropdown-menu>.active>a {
    background-color: #c40000;
    text-decoration: none;
    color: #F8F8F8;
/*    background-image: url("/common/img/bars.png");
    background-repeat: no-repeat;
    background-position: -50px;*/
}
.navbar-right li>a:checked {
    background-color: #c40000;
    text-decoration: none;
    color: #d6b337;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    background: #c40000;
    color: #d6b337;
}
.dropdown-toggle:active, .open .dropdown-toggle {
    background: #FFF !important;
    color:#000 !important;
}

/* ---------------------------------------------------- */
/*nav a {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    font-size: 18px;
}
nav .navbar-toggle {
    margin: 13px 15px 13px 0;
}
.my-logo img {
    height: 170%;
}
nav.navbar.shrink {
    min-height: 35px;
}
nav.shrink li {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-size: 15px;
}
nav.shrink .navbar-brand {
    height: 100%;
}
nav.shrink .navbar-toggle {
    padding: 4px 5px;
    margin: 8px 15px 8px 0;
}*/
/*  Styles for navbar   */

.top-30{margin-top: 30px;}
.top-20{margin-top: 20px;}
.top-15{margin-top: 15px;}
.top-10{margin-top: 10px;}
.top-5{margin-top: 5px;}
.top-bot-30{margin-top: 30px;margin-bottom: 30px;}
.top-bot-20{margin-top: 20px;margin-bottom: 20px;}
.top-bot-15{margin-top: 15px;margin-bottom: 15px;}
.top-bot-10{margin-top: 10px;margin-bottom: 10px;}
.top-bot-5{margin-top: 5px;margin-bottom: 5px;}
.top-15-bot-5{margin-top: 15px;margin-bottom: 5px;}
.bot-30{margin-bottom: 30px;}
.bot-20{margin-bottom: 20px;}
.bot-15{margin-bottom: 15px;}
.bot-10{margin-bottom: 10px;}
.bot-5{margin-bottom: 5px;}
.left-10{margin-left: 10px;}
.left-15{margin-left: 15px;}
.left-20{margin-left: 20px;}
.left-30{margin-left: 30px;}
.right-10{margin-right: 10px;}
.right-15{margin-right: 15px;}
.right-20{margin-right: 20px;}
.right-30{margin-right: 30px;}
.lef-rig-30{margin-left: 30px;margin-right: 30px;}

.padded {
    padding: 30px;
}

.padded-20{padding: 20px;}

html, body {
    height: 100%;
    width: 100%;
    font-size: medium;
    overflow-x: hidden;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #c40000;
    border-style: solid none;
    border-width: 1px 0;
}

.hr-gold {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #d6b337;
    border-style: solid none;
    border-width: 1px 0;
}

body {
    padding-top: 30px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.nothing {
    visibility: hidden;
}

.red {
    color: #c40000;
}

.gold {
    color: #d6b337;
    color: #0074d9;
}



.well {
    border: 3px solid #c40000;
    border-width: 3px 0px 3px 0px;
    background: #e5e5e5;
    color: #000;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.strike > h3 {
    position: relative;
    display: inline-block;
}

.strike > h3:before,
.strike > h3:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #d6b337;
}

.strike > h3:before {
    right: 100%;
    margin-right: 15px;
}

.strike > h3:after {
    left: 100%;
    margin-left: 15px;
}

.first {
    height:67%;
}

.first ul li {
    list-style: none;
}

.testimonial {
    font-size: 85%;
}

/*  Social media  */
.social {
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.social ul {
    margin: 0;
    padding: 5px;
}
.social ul li {
    margin: 5px;
    list-style: none outside none;
    display: inline-block;
}
.social i {
    width: 40px;
    height: 40px;
    color: #FFF;
    background-color: #c40000;
    font-size: 22px;
    text-align:center;
    padding-top: 12px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}
.social .fa-facebook:hover {
    background: #4060A5;
}
.social .fa-twitter:hover {
    background: #00ABE3;
}
.social .fa-google-plus:hover {
    background: #e64522;
}
.social .fa-linkedin:hover {
    background: #0094BC;
}
.social .fa-envelope:hover {
    background: #d6b337;
}
/*  Social media  */

.box {
    border: 2px solid red;
    background-color: #e5e5e5;
    border-radius: 5px;
    margin: 1px;
}

.box-bot {
    border-bottom: 2px solid red;
    padding: 1px;
    margin: 5px;
}

.box-bot-non {
    padding: 1px;
    margin: 5px;
}

.box-lr {
    border-left: 2px solid red;
    border-right: 2px solid red;
}

footer {
    font-size: small;
}

.border-between > [class*='col-']:before,
.border-between > [class*='col-']:after{
    background: #c40000;
    bottom: 0;
    content: " ";
    position: absolute;
    width: 1px;
    top: 0;
}
.border-between > [class*='col-']:before {
    left: 0;
}
.border-between > [class*='col-']:after {
    right: -1px;
}
.border-between > [class*='col-']:first-child:before,
.border-between > [class*='col-']:last-child:after {
    display: none;
}

#google_map {
    height: 150px; width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 70%;
    margin: auto;
}

.carousel-caption {
    background-color: rgba(255,255,255,0.4);
    border-radius: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.carousel-caption h2, .carousel-caption p {
    color: #000;
}

/*  Styles for recent projects  */
    .dg-container{
        width: 100%;
        height: 450px;
        position: relative;
    }
    .dg-wrapper{
        width: 481px;
        height: 316px;
        margin: 0 auto;
        position: relative;
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -o-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-perspective: 1000px;
        -moz-perspective: 1000px;
        -o-perspective: 1000px;
        -ms-perspective: 1000px;
        perspective: 1000px;
    }
    .dg-wrapper a{
        width: 482px;
        height: 316px;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        background: none;
        box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
    }
    .dg-wrapper a.dg-transition{
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .dg-wrapper a img{
        display: block;
        padding: 41px 0px 0px 1px;
    }
    .dg-wrapper a div{
        font-style: italic;
        text-align: center;
        line-height: 50px;
        text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
        color: #c40000;
        font-size: 36px;
        width: 100%;
        bottom: -55px;
        display: none;
        position: absolute;
    }
    .dg-wrapper a.dg-center div{
        display: block;
    }
    .dg-container nav{
        width: 58px;
        position: absolute;
        z-index: 1000;
        bottom: 40px;
        left: 50%;
        margin-left: -29px;
    }
    .dg-container nav span{
        text-indent: -9000px;
        float: left;
        cursor:pointer;
        width: 24px;
        height: 25px;
        opacity: 0.8;
        background: transparent url(/examples/3D-Gallery/images/arrows.png) no-repeat top left;
    }
    .dg-container nav span:hover{
        opacity: 1;
    }
    .dg-container nav span.dg-next{
        background-position: top right;
        margin-left: 10px;
    }
    .img123 {
        background: url(/common/img/123.jpg) no-repeat top left;
        background-size: cover;
    }
    .why-choose {
        text-align: justify;
    }
    
/** animated boxes **/
    .animBlock {
      display:block;
      opacity: 0;
      filter: alpha(opacity=0);
      position: relative;
      -webkit-transition: all .55s ease-in;
      -moz-transition: all .55s ease-in;
      -ms-transition: all .55s ease-in;
      -o-transition: all .55s ease-in;
      transition: all .55s ease-in;
    }
    .animBlock[data-position="left"] { left: -20%; }
    .animBlock[data-position="right"] { right: -20%; }

    .animBlock[data-position="left"].viewed {
      left: 0%;
      opacity: 1;
      filter: alpha(opacity=100);
    }
    .animBlock[data-position="right"].viewed {
      right: 0%;
      opacity: 1;
      filter: alpha(opacity=100);
    }
/** animated boxes **/

/* ---------- Our Team Css Start ---------- */
    .about-headings {
        text-align: center;
        color: #000;
    }
    .about-headings h5{
        color: #000;
    }
    .team-bg {
/*        background: url("../images/team-bg-5.jpg") no-repeat;*/
        height: auto;
        padding: 15px 0;
    }
    .team {
        text-align: center;
        margin-top: 3%;
        color: #000;
    }

    .team h4 {
        color: #000;
        font-weight: 800;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .team h5 {
        font-weight: 500;
        font-style: italic;
        padding-top: 0;
        margin-top: 0;
    }

    .team p {
        text-align: justify;
    }

    .content {
        margin-left:auto;
        margin-right:auto;
    }
    .contact-back {
        background: url(../img/001a.jpg) no-repeat center center fixed;
        display: table;
        height: 100%;
        position: relative;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .mix a {
        color: #000000;
    }

    /* ---------- //quote ---------- */
    .contact-back {
        background: url(../img/001a.jpg) no-repeat center center fixed;
        display: table;
        height: 100%;
        position: relative;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .tab {display: none;}
    .tab-open {display: block;}
/* ---------- //Our Team Css End ---------- */

    .contact-back {
        background: url(../img/001a.jpg) no-repeat center center fixed;
        display: table;
        height: 600px;
        position: relative;
        width: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .about-cnt {
        text-align: justify;
    }
    .affix {
      top: 80px;
  }
/******************************************************
	GRADIENT BUTTONS
******************************************************/
.btn-primary.gradient {
    background: -moz-linear-gradient(top,  #33a6cc 50%, #0099cc 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#33a6cc), color-stop(50%,#0099cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #33a6cc 50%,#0099cc 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #33a6cc 50%,#0099cc 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33a6cc', endColorstr='#0099cc',GradientType=0 ); /* IE6-9 */
}
.btn-primary.gradient:hover, .btn-primary.gradient:focus, .btn-primary.gradient:active, .btn-primary.gradient.active, .open > .dropdown-toggle.btn-primary {
    background: -moz-linear-gradient(top,  #66b2cc 50%, #33a6cc 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#66b2cc), color-stop(50%,#33a6cc)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #66b2cc 50%,#33a6cc 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #66b2cc 50%,#33a6cc 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b2cc', endColorstr='#33a6cc',GradientType=0 ); /* IE6-9 */
}
.btn-primary.gradient:active, .btn-primary.gradient.active {
    background: -moz-linear-gradient(top,  #267c99 50%, #007299 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#267c99), color-stop(50%,#007299)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #267c99 50%,#007299 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #267c99 50%,#007299 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #267c99 50%,#007299 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #267c99 50%,#007299 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#267c99', endColorstr='#007299',GradientType=0 ); /* IE6-9 */
}
.btn-success.gradient {
    background: -moz-linear-gradient(top,  #39bf87 50%, #00bf6f 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#39bf87), color-stop(50%,#00bf6f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #39bf87 50%,#00bf6f 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #39bf87 50%,#00bf6f 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #39bf87 50%,#00bf6f 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #39bf87 50%,#00bf6f 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39bf87', endColorstr='#00bf6f',GradientType=0 ); /* IE6-9 */
}
.btn-success.gradient:hover, .btn-success.gradient:focus, .btn-success.gradient:active, .btn-success.gradient.active, .open > .dropdown-toggle.btn-success {
    background: -moz-linear-gradient(top,  #73bf9f 50%, #39bf87 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#73bf9f), color-stop(50%,#39bf87)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #73bf9f 50%,#39bf87 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #73bf9f 50%,#39bf87 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #73bf9f 50%,#39bf87 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #73bf9f 50%,#39bf87 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73bf9f', endColorstr='#39bf87',GradientType=0 ); /* IE6-9 */
}
.btn-success.gradient:active, .btn-success.gradient.active {
    background: -moz-linear-gradient(top,  #2a8c63 50%, #008c52 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#2a8c63), color-stop(50%,#008c52)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2a8c63 50%,#008c52 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2a8c63 50%,#008c52 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2a8c63 50%,#008c52 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #2a8c63 50%,#008c52 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2a8c63', endColorstr='#008c52',GradientType=0 ); /* IE6-9 */
}
.btn-info.gradient {
    background: -moz-linear-gradient(top,  #5fd4e8 50%, #31cde8 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#5fd4e8), color-stop(50%,#31cde8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #5fd4e8 50%,#31cde8 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #5fd4e8 50%,#31cde8 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #5fd4e8 50%,#31cde8 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #5fd4e8 50%,#31cde8 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fd4e8', endColorstr='#31cde8',GradientType=0 ); /* IE6-9 */
}
.btn-info.gradient:hover, .btn-info.gradient:focus, .btn-info.gradient:active, .btn-info.gradient.active, .open > .dropdown-toggle.btn-info {
    background: -moz-linear-gradient(top,  #8edae8 50%, #5fd4e8 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#8edae8), color-stop(50%,#5fd4e8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8edae8 50%,#5fd4e8 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8edae8 50%,#5fd4e8 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8edae8 50%,#5fd4e8 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #8edae8 50%,#5fd4e8 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8edae8', endColorstr='#5fd4e8',GradientType=0 ); /* IE6-9 */
}
.btn-info.gradient:active, .btn-info.gradient.active {
    background: -moz-linear-gradient(top,  #6baab5 50%, #35a2b5 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#6baab5), color-stop(50%,#35a2b5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #6baab5 50%,#35a2b5 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #6baab5 50%,#35a2b5 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #6baab5 50%,#35a2b5 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #6baab5 50%,#35a2b5 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6baab5', endColorstr='#35a2b5',GradientType=0 ); /* IE6-9 */
}
.btn-warning.gradient {
    background: -moz-linear-gradient(top,  #eba259 50%, #eb8f34 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#eba259), color-stop(50%,#eb8f34)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #eba259 50%,#eb8f34 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #eba259 50%,#eb8f34 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #eba259 50%,#eb8f34 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #eba259 50%,#eb8f34 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eba259', endColorstr='#eb8f34',GradientType=0 ); /* IE6-9 */
}
.btn-warning.gradient:hover, .btn-warning.gradient:focus, .btn-warning.gradient:active, .btn-warning.gradient.active, .open > .dropdown-toggle.btn-warning {
    background: -moz-linear-gradient(top,  #ebb57f 50%, #eba259 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ebb57f), color-stop(50%,#eba259)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ebb57f 50%,#eba259 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ebb57f 50%,#eba259 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ebb57f 50%,#eba259 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #ebb57f 50%,#eba259 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebb57f', endColorstr='#eba259',GradientType=0 ); /* IE6-9 */
}
.btn-warning.gradient:active, .btn-warning.gradient.active {
    background: -moz-linear-gradient(top,  #b8824d 50%, #b87430 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#b8824d), color-stop(50%,#b87430)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b8824d 50%,#b87430 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b8824d 50%,#b87430 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b8824d 50%,#b87430 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #b8824d 50%,#b87430 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b8824d', endColorstr='#b87430',GradientType=0 ); /* IE6-9 */
}
.btn-danger.gradient {
    background: -moz-linear-gradient(top,  #f26d6d 50%, #f25454 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#f26d6d), color-stop(50%,#f25454)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f26d6d 50%,#f25454 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f26d6d 50%,#f25454 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f26d6d 50%,#f25454 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #f26d6d 50%,#f25454 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f26d6d', endColorstr='#f25454',GradientType=0 ); /* IE6-9 */
}
.btn-danger.gradient:hover, .btn-danger.gradient:focus, .btn-danger.gradient:active, .btn-danger.gradient.active, .open > .dropdown-toggle.btn-danger {
    background: -moz-linear-gradient(top,  #f28585 50%, #f26d6d 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#f28585), color-stop(50%,#f26d6d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f28585 50%,#f26d6d 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f28585 50%,#f26d6d 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f28585 50%,#f26d6d 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #f28585 50%,#f26d6d 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f28585', endColorstr='#f26d6d',GradientType=0 ); /* IE6-9 */
}
.btn-danger.gradient:active, .btn-danger.gradient.active {
    background: -moz-linear-gradient(top,  #bf5656 50%, #bf4343 50%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#bf5656), color-stop(50%,#bf4343)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #bf5656 50%,#bf4343 50%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #bf5656 50%,#bf4343 50%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #bf5656 50%,#bf4343 50%); /* IE10+ */
    background: linear-gradient(to bottom,  #bf5656 50%,#bf4343 50%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf5656', endColorstr='#bf4343',GradientType=0 ); /* IE6-9 */
}

@media (max-width: 1199px){
    body {
        padding-top: 90px;
    }
    .cta-right-bot {
        top: 120px;
    }
}

@media (max-width: 991px) {
    body {
        padding-top: 90px;
    }
    .nav {
        font-size: small;
    }
    .nav >li {
        padding: 10px 2px;
    }
    .my-logo {
        padding: 0px;
    }
    .my-logo img {
        height: 100%;
    }
    .border-between > [class*='col-']:before,
    .border-between > [class*='col-']:after{
        display: none;
    }
    .cta-right-bot {
        top: 120px;
    }
    .btn-responsive {
        padding:4px 9px;
        font-size:90%;
        line-height: 1.2;
    }
}

@media (max-width: 767px){
    body {
        padding-top: 30px;
    }
    .cta-right-bot {
        visibility: hidden;
    }
    .to_centre {
        text-align: center;
    }
    .btn-responsive {
        padding:2px 4px;
        font-size:80%;
        line-height: 1;
        border-radius:3px;
    }
}