
/*=====editor css========*/
@-webkit-keyframes pop-upwards {
  0% {
    -webkit-transform:matrix(0.97,0,0,1,0,12);
    transform:matrix(0.97,0,0,1,0,12);
    opacity:0
  }
  20% {
    -webkit-transform:matrix(0.99,0,0,1,0,2);
    transform:matrix(0.99,0,0,1,0,2);
    opacity:.7
  }
  40% {
    -webkit-transform:matrix(1,0,0,1,0,-1);
    transform:matrix(1,0,0,1,0,-1);
    opacity:1
  }
  70% {
    -webkit-transform:matrix(1,0,0,1,0,0);
    transform:matrix(1,0,0,1,0,0);
    opacity:1
  }
  100% {
    -webkit-transform:matrix(1,0,0,1,1,1);
    transform:matrix(1,0,0,1,0,0);
    opacity:1
  }
}

@keyframes pop-upwards{
  0% {
    -webkit-transform:matrix(0.97,0,0,1,0,12);
    transform:matrix(0.97,0,0,1,0,12);
    opacity:0
  }
  20% {
    -webkit-transform:matrix(0.99,0,0,1,0,2);
    transform:matrix(0.99,0,0,1,0,2);
    opacity:.7
  }
  40% {
    -webkit-transform:matrix(1,0,0,1,0,-1);
    transform:matrix(1,0,0,1,0,-1);
    opacity:1
  }
  70% {
    -webkit-transform:matrix(1,0,0,1,0,0);
    transform:matrix(1,0,0,1,0,0);
    opacity:1
  }
  100% {
    -webkit-transform:matrix(1,0,0,1,0,0);
    transform:matrix(1,0,0,1,0,0);
    opacity:1
  }
}

.g-body .pos-abs {
  position: absolute;
}

.g-body .file-hidden {
  opacity: 0;
  width: 90px;
}

.g-body .file-label {
  width: 90px;
}

.g-body .text-menu {
  -webkit-transition: opacity 180ms, margin 180ms;
  -ms-transition: opacity 180ms, margin 180ms;
  transition: opacity 180ms, margin 180ms;

  position: absolute;
  color: #fff;
  margin-top: -20px;
  margin-left: -115px;
}

.g-body .text-menu.active {
  -webkit-animation:pop-upwards 180ms forwards linear;
  -ms-animation:pop-upwards 180ms forwards linear;
  animation:pop-upwards 180ms forwards linear;
}

.url {
  font-size: 16px !important;
}

.image-tooltip {
  position: absolute;
}

.image-tooltip.hide, .text-menu.hide {
  left: -999px;
  top: -999px;
}

.text-menu.fade {
  opacity: 0;
  margin-top: -5px;
}

.text-menu .active {

}
.project-view-right{
    width: 75%;
    float: right;
}
.text-menu button {
  -webkit-transition: opacity 400ms;
  -ms-transition: opacity 400ms;
  transition: opacity 400ms;
  font-family: "open_sansbold";
  background: none;
  cursor: pointer;
  font-size: 14px;
  color: #cccccc;
  padding: 0px;
  height: 32px;
  width: 25px;
  border: 0px;
  outline: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.options {
  background-color: #333333;
  box-shadow: 0 0 2px #333333;
  position: absolute;
  border-radius: 50px;
  margin-left: 23px;
  margin-top: -28px;
  z-index: 1000;
  padding: 0 15px;
  width: 280px;
  height: 40px;

  -webkit-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.options.url-mode {
  width:220px;
}


.options.url-mode .header1,
.options.url-mode .header2,
.options.url-mode .bold,
.options.url-mode .italic,
.options.url-mode .quote,
.options.url-mode .url {
  width: 0px;
  overflow: hidden;
  margin-right: 0px;
  opacity: 0;
}

.options .italic {
  font-style: italic;
}

.options .quote {
  font-size: 22px !important;
  line-height: 46px !important;
}
.find-care-section .custom-col h2 {
  font-size: 22px;
  margin: 15px auto;
}

.options button {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  margin-right: 1px;
  text-transform: uppercase;
}

.options.url-mode input{
  border-left: 2px solid transparent;
  padding:5px 5px;
  height:40px;
  width:100%;
  background: transparent;
  color: #fff;
}

.options input {
  border-radius: 3px;
  overflow: hidden;
  outline: 0px;
  height: 30px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  float: left;
  width: 0px;
}

.options:before {
  content: "";
  border-top: 5px solid #333333;
  border-bottom: 5px solid transparent;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  position: absolute;
  margin-left: -5px;
  bottom: -10px;
  height: 5px;
  width: 0px;
  left: 50%;
}
.editable-text h2 {
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 35px;
    margin-top: 0;
}
.editable-text h3 {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 35px;
    margin-top: 0;
    font-family: "open_sansbold";
}
.editable-text p {
    margin-bottom: 35px;
}

.change-location-popup .modal-content{
  overflow: visible;
}

.change-location-popup .modal-footer{
  border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
}

.menu-icon-mobile{
  display: none;
}

.mobile-slide-nav{
  display: none;
}

.close span{
  line-height: 27px;
}
.editable-text {
    background-color: #fff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    min-height: 300px;
    padding: 11px 20px;
}
.editable-text h2 {
    font-size: 23px;
    line-height: 27px;
    margin-bottom: 35px;
    margin-top: 0;
}
.editable-text h3 {
    font-size: 20px;
    line-height: 27px;
    margin-bottom: 35px;
    margin-top: 0;
    font-family: "open_sansbold";
}
.editable-text p {
    margin-bottom: 35px;
}
.editable-text {
    padding: 6px 10px;
}
.editable-text p {
    margin-bottom: 25px;
}
.editable-text h2 {
    font-size: 20px;
    margin-bottom: 15px;
}
.table_pagintaion {
  margin-top: 15px;
}
.pagintaion_btns li {
  display: inline-block;
  margin-right: 10px;
}
.pagintaion_btns>li>a {
  background-color: #7b8994;
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 4px;
}
.pagintaion_btns>li>a.disable {
  background-color: #b6bdc4;
  cursor: default;
  pointer-events: none;
}
.image-thumb{
  float: left;
    padding-right: 12px;
}
.add-more-uses{
  margin-top: -19px;
  margin-right: -133px;
}
.add-more-material{
  margin-top: -19px;
  margin-right: -160px;
}
.add-more-images{
margin-right: 45px;
    margin-top: -38px;
}
.role-checkbox{
  padding:0 5px;
  font-size:11px;
}
.auto-grid-uses{
  width: 33.2%;
    float: left;
    min-height: 1px;
}
.auto-grid {
    width:14.2%;
    float: left;
    min-height: 1px;
}
.margin-top-5px{
  margin-top:5px;
}
.margin-top-10px{
  margin-top:10px;
}
.margin-top-15px{
  margin-top:15px;
}
.margin-top-20px{
  margin-top:20px;
}
.margin-top-25px{
  margin-top:25px;
}

.margin-left-5px{
  margin-left:5px;
}
.margin-left-10px{
  margin-left:10px;
}
.margin-left-15px{
  margin-left:15px;
}
.margin-left-20px{
  margin-left:20px;
}
.margin-left-25px{
  margin-left:25px;
}

.margin-bottom-5px{
  margin-bottom:5px;
}
.margin-bottom-10px{
  margin-bottom:10px;
}
.margin-bottom-15px{
  margin-bottom:15px;
}
.margin-bottom-20px{
  margin-bottom:20px;
}
.margin-bottom-25px{
  margin-bottom:25px;
}

.margin-right-5px{
  margin-right:5px;
}
.margin-right-10px{
  margin-right:10px;
}
.margin-right-15px{
  margin-right:15px;
}
.margin-right-20px{
  margin-right:20px;
}
.margin-right-25px{
  margin-right:25px;
}

.custom_input_file {
  position: absolute;
  width:173%;
  cursor: pointer;
  height: 50px !important;
  top: 26px;
  z-index: 2;
  opacity: 0;
  filter: alpha(opacity=0);
    padding-right: 80px;  
}
.input-file-path {
  padding-right: 90px;
  cursor: pointer;
  width: 200% !important;
}

.input_label {
  background-color: #32c5d2;
  text-transform: uppercase;
  display: inline-block;
  position: absolute;
  right: 10px;
  bottom: 13px;
  color: #fff;
  padding: 11px 17px;
  margin-right: -183px;
  font-size: 11px;
  z-index: 1;
  border-radius: 2px;
}
.image_preview {
    width: 50%;
    height: 30%;
    float: right;
    margin-right: -440px;
}
.image_preview_team {
    width: 50%;
    height: 30%;
    float: right;
    margin-right: -360px;
}
.certification_preview{
  margin-right: -344px !important;
}
.sponsorship_preview{
  margin-right: -344px !important;
}
.image-error {
  color: #e73d4a;
  display: none;
}
.fg-file-upload-detail{
  max-width: 224px;
  position:relative;
}
.fg-file-upload-detail .input-file-path{
    padding-right: 78px;
    font-size: 15px;
}
.fg-file-upload-detail .custom_input_file{
  top: 0;
  height: 33px;
}
.fg-file-upload-detail .input_label{
  bottom: 5px;
}
.blank-data{
  margin:10px;
  text-align:center;
}
.blank-data .img-responsive {
  margin:10% auto 15px;
  display:block;
  max-width:200px;
  width:100%;
}

.button_spinners{
  display:none;
}

.msg_divs{
  display:none;
}

.prevent-click{
  pointer-event:none;
}